<!--   Big container   -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container">
            <div class="card wizard-card" data-color="green" id="wizardProfile">
              <form (ngSubmit)="onDataSelect(dataForm.value)" #dataForm="ngForm">
                  <div class="wizard-header">
                      <h3 class="wizard-title">
                          Data
                      </h3>
                      
                  </div>
  <div>
  <mat-form-field class="center0">
          <mat-select placeholder="Data">
            <mat-option *ngFor="let data of datas" [value]="data.value">
              {{ data.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
</div>
<div class="right-side-button">
  <button [disabled]="!dataForm.valid" class="btn btn-danger btn-round" data-toggle="modal" data-target="#dataFormModal">
          Show Data
  </button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

