<!--   Big container   -->
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <!--      Wizard container        -->
        <div class="wizard-container">
            <div class="card wizard-card" data-color="green" id="wizardProfile">
              <form (ngSubmit)="onDownloadSelect(downloadForm.value)" #downloadForm="ngForm">
                  <div class="wizard-header">
                      <h3 class="wizard-title">
                          Downloads
                      </h3>
                      
                  </div>
  <div>
    <mat-form-field class="center0">
      <input matInput [matDatepicker]="fromDatePpicker" placeholder="From date">
      <mat-datepicker-toggle matSuffix [for]="fromDatePpicker"></mat-datepicker-toggle>
      <mat-datepicker #fromDatePpicker></mat-datepicker>
    </mat-form-field>
    
        
</div>
<div>
  <mat-form-field class="center1">
    <input matInput [matDatepicker]="toDatePpicker" placeholder="To date">
    <mat-datepicker-toggle matSuffix [for]="toDatePpicker"></mat-datepicker-toggle>
    <mat-datepicker #toDatePpicker></mat-datepicker>
  </mat-form-field>
  
      
</div>
<div>
  <mat-form-field class="center2">
    <mat-select placeholder="Status">
      <mat-option *ngFor="let status of statusList" [value]="statusList.value">
        {{ status.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
      
</div>
<div class="download-button">
  <button [disabled]="!downloadForm.valid" class="btn btn-danger btn-round" data-toggle="modal" data-target="#downloadFormModal">
          Show Downloads
  </button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

