
.center {
    margin: auto;
    width: 50%;
    border: 3px solid ;
    border-radius: 25px;
    padding: 10px;
  }
  
  .center0 {
    left: 30%;
    top: 60%;
    width: 230px;
    margin-top: -125px; /* height/2 */
    margin-left: -115px; /* width/2 */
    position: absolute;
  }

  .center1 {
    left: 70%;
    top: 60%;
    width: 230px;
    margin-top: -125px; /* height/2 */
    margin-left: -115px; /* width/2 */
    position: absolute;
  }

  .center2 {
    left: 30%;
    top: 70%;
    width: 230px;
    margin-top: -125px; /* height/2 */
    margin-left: -115px; /* width/2 */
    position: absolute;
  }

  .center3 {
    left: 70%;
    top: 70%;
    width: 230px;
    margin-top: -125px; /* height/2 */
    margin-left: -115px; /* width/2 */
    position: absolute;
  }

  .center4 {
    left: 30%;
    top: 80%;
    width: 230px;
    margin-top: -125px; /* height/2 */
    margin-left: -115px; /* width/2 */
    position: absolute;
  }

  .center5 {
    left:70%;
    top: 80%;
    width: 230px;
    margin-top: -125px; /* height/2 */
    margin-left: -115px; /* width/2 */
    position: absolute;
  }
  