<div class="image-container set-full-height" style="background-image: url('assets/img/wizard-profile.jpg')">
  <!--   CredenceSoft Branding   -->
  <a href="https://credencesoft.co.nz">
    <div class="logo-container">
      <div class="logo">
        <img src="https://img1.wsimg.com/isteam/ip/22358f8b-dc3c-4ee8-8bbb-30229ee55636/logo/45715aee-376c-42a2-8f0f-631e141b871e.png/:/rs=h:262.5">
      </div>
      <div class="brand">
        CredenceSoft's SoftOne LOS
      </div>
    </div>
  </a>

  <!--  Made By CredenceSoft  -->
  <a href="https://credencesoft.co.nz" class="made-with-mk">
    <div class="brand">CS</div>
    <div class="made-with">credencesoft
      <strong>.co.nz</strong>
    </div>
  </a>

  <!--   Big container   -->

  <form #loanApplication="ngForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <!--      Wizard container        -->
          <div class="wizard-container">
            <div class="card wizard-card" data-color="green" id="wizardProfile">

              <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

              <div class="wizard-header">
                <h3 class="wizard-title">
                  Loan Origination System
                </h3>
                <h5>By this form we will get better information about you. </h5>
              </div>
              <div class="wizard-navigation">
                <ul>
                  <li>
                    <a href="#about" data-toggle="tab">LOAN DETAILS</a>
                  </li>
                  <li>
                    <a href="#account" data-toggle="tab">PERSONAL DETAILS</a>
                  </li>
                  <li>
                    <a href="#address" data-toggle="tab">APPLY LOAN</a>
                  </li>
                </ul>
              </div>

              <div class="tab-content">
                <div class="tab-pane" id="about">
                  <div class="center1">
                    <!-- 1st form -->
                    <!-- Customer Category and Mobile Number -->

                    <div>
                      <mat-form-field class="input-full-width">
                        <mat-select placeholder="Customer Category">
                          <mat-option *ngFor="let customer of customers" [value]="customer.value">
                            {{ customer.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="input-full-width" hintLabel="10 digit Mobile Number">
                        <input matInput #input maxlength="10" pattern="[0-9]{10}" placeholder="Mobile Number">

                      </mat-form-field>
                    </div>

                    <!-- Email and Employement Type -->

                    <div>
                      <mat-form-field class="email-full-width">
                        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" name="email" [(ngModel)]="model.email">
                        <mat-error *ngIf="emailFormControl.hasError('#email') && !emailFormControl.hasError('required')">
                          Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          Email is
                          <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="input-full-width">
                        <mat-select placeholder="Profession" [(ngModel)]="model.profession" name="profession">
                          <mat-option *ngFor="let employee of employees" [value]="employee.value">
                            {{ employee.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- Annual Income and Loan Type -->

                    <div>
                      <mat-form-field class="input-full-width">
                        <input matInput placeholder="Annual Income" class="example-right-align">
                        <span matPrefix>₹&nbsp;</span>
                        <span matSuffix>.00</span>
                      </mat-form-field>
                      <mat-form-field class="input-full-width">
                        <mat-select placeholder="Loan Type">
                          <mat-option *ngFor="let ltype of ltypes" [value]="ltype.value">
                            {{ ltype.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- Loan Amount and Loan Tenure -->

                    <div>
                      <mat-form-field class="input-full-width">
                        <input matInput placeholder="Loan Amount" class="example-right-align">
                        <span matPrefix>₹&nbsp;</span>
                        <span matSuffix>.00</span>
                      </mat-form-field>
                      <mat-form-field class="input-full-width">
                        <input matInput placeholder="Loan Tenure">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="account">
                  <div class="center1">
                    <!-- 2nd form -->
                    <!-- Title and Name -->

                    <div>
                      <mat-form-field class="input-full-width">
                        <mat-select placeholder="Title">
                          <mat-option *ngFor="let title of titles" [value]="title.value">
                            {{ title.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="input-full-width">
                        <input matInput placeholder="Name" id="name" />
                      </mat-form-field>
                    </div>

                    <!-- Aadhar and Pan -->

                    <div>
                      <mat-form-field class="input-full-width" hintLabel="Your 12 digit aadhar">
                        <input matInput #input maxlength="12" placeholder="Aadhar">
                      </mat-form-field>
                      <mat-form-field class="input-full-width" hintLabel="Your 10 digit pan ">
                        <input matInput #input maxlength="10" placeholder="Pan">

                      </mat-form-field>
                    </div>

                    <!-- Gender and Date of Birth -->

                    <div>
                      <mat-form-field class="input-full-width">
                        <mat-select placeholder="Gender">
                          <mat-option *ngFor="let gender of genders" [value]="gender.value">
                            {{ gender.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="date-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Date of birth">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <!-- Pin Code and Landmark -->

                    <div>
                      <mat-form-field class="input-full-width" hintLabel="Your 6 digit pincode">
                        <input matInput #pinCode maxlength="6" placeholder="Pin Code" (change)="getAddressDetailsByPostCode(pinCode.value)">

                      </mat-form-field>
                      <mat-form-field class="input-full-width" hintLabel="Max 10 character">
                        <input matInput #input maxlength="10" placeholder="Area/Land mark">

                      </mat-form-field>
                    </div>

                    <!-- Full Address -->

                    <div>
                      <mat-form-field class="address-full-width" hintLabel="Max 100 character">
                        <input matInput #input maxlength="100" placeholder="Address">
                        <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
                      </mat-form-field>
                    </div>

                    <!-- District and State -->
                    <div>
                      <mat-form-field class="input-full-width">
                        <input matInput placeholder="District" value={{loanApplication.addressCity}} required>
                      </mat-form-field>
                      <mat-form-field class="input-full-width">
                        <input matInput placeholder="State" value={{loanApplication.addressState}} required>
                      </mat-form-field>
                      <mat-form-field class="input-full-width">
                        <input matInput placeholder="Country" value={{loanApplication.addressCountry}} required>
                      </mat-form-field>
                    </div>

                  </div>
                </div>
                <div class="tab-pane" id="address">
                  <div class="center1">
                    <button type="button" class="btn btn-default" (click)="newLoanApplication();">Clear</button>
                  </div>
                </div>
              </div>
              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                  <input type='submit' class='btn btn-finish btn-fill btn-success btn-wd' name='finish' value='Finish' on-click=storeLoanApplication()/>
                </div>
                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <!-- wizard container -->
        </div>
      </div>
      <!-- end row -->

    </div>
    <!--  big container -->
  </form>
  <div class="footer">
    <div class="container text-center">
      Made with
      <i class="fa fa-heart heart"></i> by
      <a href="https://credencesoft.co.nz">CredenceSoft</a>.
      <br>
      <a href="https://credencesoft.co.nz">Copyright © 2018 CredenceSoft - All Rights Reserved.</a>
    </div>
  </div>
</div>