<!--     *********     HEADER      *********      -->

<div class="header-3">
  <nav class="navbar navbar-transparent navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://credencesoft.co.nz/">CredenceSoft</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
    <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="#carousel-example-generic">
                          Home
                      </a>
                  </li>
                  <li>
                      <a href="#aboutus">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="#products">
                          Products
                      </a>
                  </li>
                  <li>
                    <a href="#services">
                        Services
                    </a>
                  </li>
                  <li>
                      <a href="#contact">
                          Contact Us
                      </a>
                  </li>
                  <li class="button-container">
                    <a href="" [routerLink]="['/loanapp']" class="btn btn-danger btn-round">
                     Apply Loan
                    </a>
                  </li>
                  <li class="button-container">
                    <a href="" [routerLink]="['/signin']" class="btn btn-danger btn-round">
                     Employee Login
                    </a>
                  </li>
              </ul>
        </div>
    </div>
  </nav>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<div class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="page-header header-filter" style="background-image: url('assets/img/dg1.jpg');">

        <div class="container">
          <div class="row">
            <div class="col-md-6 text-left">
              <h1 class="title">Credencesoft</h1>
              <h4>
                  Loan sanction with in 5 Minutes.
                    </h4>
              
            </div>
          </div>
        </div>
          </div>

    </div>
    <div class="item">
      <div class="page-header header-filter" style="background-image: url('assets/img/dg2.jpg');">

        <div class="container">
          <div class="row">
            <div class="col-md-6 text-left">
              <h1 class="title">Credencesoft</h1>
              <h4>
                  Loan sanction with in 5 Minutes.
                  </h4>
            </div>
          </div>
        </div>

          </div>

    </div>

    

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <i class="material-icons">keyboard_arrow_left</i>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <i class="material-icons">keyboard_arrow_right</i>
  </a>
</div>
</div>

</div>

<!--     *********    END HEADER      *********      -->

<!--     *********     ABOUT US START      *********      -->

<div class="features-1" id="aboutus">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title">About Us</h2>
      <h5 class="description"><font color="black">
        At Credencesoft Software, we provide lending products to the Banking and Financial service industry. Credencesoft’s innovative software products are tailored to meet specialised needs in the Banking and Financial sector. 
        <br>As customers become even more knowledgeable to their financial service’s needs, the expectation to get more flexible service is quite natural. The objective of credencesoft is to provide solutions in innovative way with combined fast-changing technology. we are fully aware of our customers business requirements to leverage IT investment and to effectively utilize IT as capability builder.

        <br>Years of experience acquired in the Software Development, Transaction Banking and BFSI made possible the Credencesoft leadership to better understand the intricacies of business expectations.

        <br>We at Credencesoft , emphasize on Product Development, Implementation, Consulting Services to make your business in a more simple and innovative way.
      </font>
      </h5>
    </div>
  </div>
</div>

<!--     *********    ABOUT US END      *********      -->

<!--     *********    PRODUCTS START     *********      -->

<div class="team-4 section-image" id="products" style="background-image: url('assets/img/bg7.jpg')">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Products</h2>
        <h5 class="description">Put a glance on our financial products.</h5>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="assets/img/faces/card-profile1-square.jpg" />
            </a>
          </div>

          <div class="card-content">
            <h4 class="card-title">LOS</h4>
            <h6 class="category text-muted">(Loan Origination System)</h6>
            <p class="card-description"><font color="black">
              CredenceSoft's SoftOne LOS supports both on premise and Cloud solutions.
              <br>It is a comprehensive loan origination software which controls and automates various business processes/activities performed in processing of a loan application for advanced risk management . 
              <br>SoftOne supports the entire acquisition lifecycle from customer walk-in to decision by the underwriter for the disbursement. Additionally, it allows online credit evaluation and automatic credit evaluation of the application and processing till loan initiation.
              <br>It support lead generation, Lead allocation, tracking, deal capturing ,verification Initiation and underwritten. 
            </font>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="assets/img/faces/card-profile2-square.jpg" />
            </a>
          </div>

          <div class="card-content">
            <h4 class="card-title">LMS</h4>
            <h6 class="category text-muted">(Loan Management System)</h6>

            <p class="card-description"><font color="black">
              CredenceSoft's SoftOne LMS supports both on premise and Cloud solutions. 
              <br>It is a comprehensive loan management and servicing capabilities that truly accelerates your digital transformation . 
              <br>As a loan management solution, it enables financial institutions to automate the processes for achieving cost savings and enhanced customer experience . 
              <br>SoftOne's LMS can help you to enhance operational efficiencies, improved customer experience with paper less digital processing. It covers Loan disbursal, Loan Rescheduling, Loan Settlement, Loan closure, post disbursal activities and customer services . 
              <br>SoftOne's LMS comes with Collateral management Module to effectively manage the complete life cycle of collaterals module with comprehensive limits managements features. 
            </font>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="assets/img/faces/card-profile4-square.jpg" />
            </a>
          </div>

          <div class="card-content">
            <h4 class="card-title">LoM</h4>
            <h6 class="category text-muted"> (Lending on Mobile)</h6>

            <p class="card-description"><font color="black">
              SoftOne LoM an extension of our Personal Loan Management Software on a ios and android platform .
              <br> SoftOne Mobile LMS allows you for better evaluating borrowers, decision making support and online-lending process automation. 
              <br>It has been specially designed to simplify the task of entire lending lifecycle including borrower management: from loan origination to collection. It also servicing business Loan(MSME), simple interest, revolving facility, bi-weekly, and other methods of interest calculation. 
            </font>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!--     *********    PRODUCTS END      *********      -->

<!--     *********    SERVICES START     *********      -->

<div class="features-1" id="services">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="title">Services</h2>
      <h5 class="description"><font color="black">       
        At CredenceSoft , we provide support for Database setup , Implementation of loan servicing software, define the business accounting ,automation for all lending process from Credit Underwritten, Risk Analytics, Pre and Post Disbursement Activities ,Banking and Customer Services. Every lender has different needs and satisfying those needs starts with the implementation. 
        <br>we arrive at an actual implementation strategy for each banking customer based on their needs.
      </font>
      </h5>
    </div>
  </div>
</div>
<!--     *********    SERVICES END      *********      -->

<!--     *********    CONTACT US START     *********      -->

<div class="contactus-1 section-image" id="contact" style="background-image: url('assets/img/examples/city.jpg')">

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="title">Contact Us</h2>
        <h5 class="description">If you have any query then, feel free to contact us.</h5>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">pin_drop</i>
          </div>
          <div class="description">
            <h4 class="info-title">Regd Office / New Zealand Office Address</h4>
            <p>43 Carder Court, Hobsonville, Auckland,<br>
              Auckland Region 0618,<br>
              New Zealand
            </p>
            <h4 class="info-title">Overseas Office Address </h4>
            <p> 101,B Wing ,Maitri Icon,<br>
              Sector-19,Kharghar,Pin Code - 410210<br>
              Mumbai
            </p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-primary">
            <i class="material-icons">phone</i>
          </div>
          <div class="description">
            <h4 class="info-title">Give us a ring</h4>
            <p>
              +6421548329<br>
              +91(0) 22-27746318<br>
              Mon - Fri, 9am - 5pm
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-5 col-md-offset-2">
        <div class="card card-contact">
          <form role="form" id="contact-form" method="post">
            <div class="header header-danger header-primary text-center">
              <h4 class="card-title">Contact Us</h4>
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">First name</label>
                    <input type="text" name="name" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group label-floating">
                    <label class="control-label">Last name</label>
                    <input type="text" name="name" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Email address</label>
                <input type="email" name="email" class="form-control"/>
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Your message</label>
                <textarea name="message" class="form-control" id="message" rows="6"></textarea>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsCheckboxes">
                      I'm not a robot
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-danger pull-right">Send Message</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--     *********    CONTACT US END      *********      -->


<footer class="footer">
  <div class="container">
      <div class="copyright pull-center">
        Copyright &copy; <script>document.write(new Date().getFullYear())</script>2018 CredenceSoft - All Rights Reserved.
        <br>made with <i class="fa fa-heart heart"></i> by CredenceSoft
      </div>
  </div>
</footer>